.reveal { font-size: 36px; }

.reveal h1 { font-size: 1.6em; }

.reveal h2 { font-size: 1.4em; }

.reveal h3 { font-size: 1.2em; }

.reveal h4 { font-size: 1em; }

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
